/*
============================== 
google fonts import 
==============================
*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap");

/* 
============================== 
css variables
============================== 
*/

:root {
  --clr-primary1: #4d6a2f;
  --clr-primary3: #5a7c36;
  --clr-primary5: #678e3e;
  --clr-primary7: #a7c983;
  --clr-primary9: #cde0b8;
  --clr-grey1: #cccccc;
  --clr-grey3: #808080;
  --clr-grey5: #595959;
  --clr-grey7: #404040;
  --clr-grey9: #262626;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-offwhite: #f2f2f2;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
}

/* 
============================== 
Global Styles
============================== 
*/

/* remove browser defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-grey7);
  background: var(--clr-offwhite);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 3rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
/* 
============================== 
For bigger screens
============================== 
*/
@media screen and (min-width: 800px) {
  body {
    font-size: 1 rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

/* 
============================== 
More Global Styles
============================== 
*/
.btn {
  text-transform: uppercase;
  background: var(--clr-primary5);
  padding: 0.75rem 1rem;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background: var(--clr-primary9);
  color: var(--clr-primary5);
}
/* 
============================== 
Global section Styles
============================== 
*/
.section-center {
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 90vw;
  }
}

/* @media screen and (min-width: 992px) {
  .section-center {
    width: 85vw;
  }
} */
/* section heading styles */
.section-heading {
  padding-top: 2rem;
}
.section-heading h2 {
  margin: 0;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.section-heading h3 {
  margin: 0;
  font-family: var(--ff-secondary);
  color: var(--clr-primary5);
}
/* section heading styles end */

/* 
============================== 
Header Navbar Styles
============================== 
*/
.header-nav {
  box-shadow: 0px 1px 2px var(--clr-grey3);
  width: 100vw;
  position: fixed;
  background: var(--clr-white);
  top: 0;
  z-index: 2;
}

.navbar {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* display: flex;
  justify-content: space-between; */
}

.navbar-icon {
  color: var(--clr-primary5);
  font-size: 2rem;
  justify-self: right;
  align-self: center;
  padding-right: 1rem;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--clr-primary5);
  transition: var(--transition);
}
.nav-link:hover {
  padding-left: 2.25rem;
  background-color: var(--clr-primary3);
  color: var(--clr-primary9);
}
.nav-links {
  display: none;
}
.shownav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }

  .navbar-icon {
    display: none;
  }
  .nav-links {
    display: block;
    justify-self: center;
    align-self: center;
  }
  .nav-link {
    color: var(--clr-grey9);
    display: inline-block;
    margin: 0;
  }
  .nav-link:hover {
    padding-left: 2rem;
    background-color: white;
    color: var(--clr-primary5);
  }
}

/* 
============================== 
hero Styles
============================== 
*/

.hero {
  height: 100vh;
}
.hero-banner {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/main-bcg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.hero-text {
  align-self: center;
}

.hero-heading2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
  color: var(--clr-primary5);
}
@media screen and (max-width: 768px) {
  .hero-heading2 {
    max-width: 20rem;
  }
}

.hero-heading1 {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  color: var(--clr-white);
}
.hero-btn {
  padding: 1rem 2rem;
  transition: var(--transition);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  outline: 0.125rem solid var(--clr-primary5);
  outline-offset: 0.25rem;
}
.hero-btn:hover {
  background: var(--clr-primary7);
  outline: 3px solid var(--clr-primary7);
  color: var(--clr-primary1);
}

/* 
============================== 
content divider Styles
============================== 
*/
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    rgb(103, 142, 62),
    rgb(233, 185, 73),
    rgb(103, 142, 62)
  );
}

/* 
============================== 
skills Styles
============================== 
*/
.skills {
  width: 100%;
  text-align: center;
  background: var(--clr-grey-10);
}
.skill {
  padding: 3rem 0;
  border-bottom: 2px solid var(--clr-offwhite);
  transition: var(--transition);
}
.skill-icon {
  color: var(--clr-primary5);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.skill-heading {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.skill-text {
  margin: 0 auto;
  color: var(--clr-grey3);
  max-width: 15rem;
}
.skill:hover {
  background: var(--clr-white);
  border-bottom: 2px solid var(--clr-primary5);
}
.skill:hover .skill-icon {
  transform: translate(0, -0.5rem);
}
@media screen and (min-width: 678px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1120px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 
============================== 
about Styles
============================== 
*/
.about-section {
  padding: 2rem 0;
  width: 90%;
  margin: 2rem auto;
}
.img-container {
  overflow: hidden;
  background: var(--clr-primary3);
  border: 0.5rem solid var(--clr-primary5);
  border-radius: 3px;
  transition: var(--transition);
}
.about-img {
  transition: var(--transition);
}
.img-container:hover .about-img {
  opacity: 0.5;
  transform: scale(1.2);
}
.about-content {
  text-align: left;
}
.about-content p {
  max-width: 20rem;
  padding-bottom: 1rem;
}
.about-btn {
  padding: 0.25rem 0.75rem;
}
@media screen and (min-width: 992px) {
  .about-section {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .about-content {
    padding-left: 2rem;
  }
  .section-heading {
    padding-top: 0;
  }
}

/* 
============================== 
products Styles
============================== 
*/
.products {
  background: var(--clr-white);
}
.products-section {
  padding: 2rem 0;
  width: 90%;
  margin: 2rem auto;
}
.product-content {
  margin-bottom: 2rem;
}
.product-content p {
  max-width: 30rem;
  padding-bottom: 1rem;
}
.single-product {
  width: 95%;
  margin: 3rem auto;
}
.single-product h4 {
  margin: 0.8rem 0 0 1rem;
}
.product-price {
  color: var(--clr-primary5);
}
.product-img-container {
  max-height: 20rem;
  overflow: hidden;
  border-radius: 1rem;
}
@media screen and (min-width: 768px) {
  .products-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-areas:
      "a a"
      "b c"
      "d e";
  }
  .product-content {
    grid-area: a;
  }
  .product-1 {
    grid-area: b;
  }
  .product-2 {
    grid-area: c;
  }
  .product-3 {
    grid-area: d;
  }
  .single-product {
    margin: 1rem auto;
  }
  .products-section {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 992px) {
  .products-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-areas:
      "a a a"
      "b c d";
  }
  .product-content {
    grid-area: a;
  }
  .product-1 {
    grid-area: b;
  }
  .product-2 {
    grid-area: c;
  }
  .product-3 {
    grid-area: d;
  }
}
